 <div class = "editor">

<% if editor_signed_in? %>
    <div> <h4>Перечень СТАТЕЙ <%#= __Редактор:  current_editor.email %>   </h4> </div>

    <nav class="action">
        <%= link_to 'ДОБАВИТЬ СТАТЬЮ', new_article_path %>
    </nav>

    <div class = "digg_pagination"><%= will_paginate @articles %></div>
    </br>
    <table class = "artys">
        <tr class = "tablehead">
            <!-- background-color : #555;-->
            <th style = "width:13em;"><%= sortable "created_at", "Дата" %></th>
            <th style = "width:12em;"><%= sortable "rubric", "Рубрика" %></th>
            <th style = "width:8em;"><%= sortable "genre", "Жанр" %></th>
            <th style = "width:19em;"><%= sortable "author", "Автор" %></th>
            <th style = "width:28em;">Заголовок</th>
            <th style = "width:8em;">Фото</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
      <% @articles.each do |article| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td ><%= article.updated_at.getlocal.strftime("%m/%d/%y %H:%M ") %></td>
            <td><%= truncate(strip_tags(article.rubric), length: 12) %></td>
            <td><%= truncate(strip_tags(article.genre),  length: 10) %></td>
            <td><%= truncate(strip_tags(article.author), length: 15) %></td>
            <td><%= truncate(strip_tags(article.title),  length: 28) %></td>
            <td><%= truncate(strip_tags(article.image_file_name),  length: 8) %></td>
            <td class="list_actions"><%= link_to 'Просмотр', article %></td>
            <td class="list_actions"><%= link_to 'Изменить', edit_article_path(article) %></td>
            <td class="list_actions"><%= link_to 'Удалить', article, confirm: 'Уверены?', method: :delete %></td>
        </tr>
      <% end %>
    </table>

    <br />

    <div class = "digg_pagination"><%= will_paginate @articles %></div>

<% else %>
        <h3 style = "text-align: center; color: #FF0000;"> Перейдите в режим "Админ".  </h3 >
<% end %> 

</div>






