<div class="editor">
<!-- div style = "padding: 0xp 30px 0px 30px;" -->    
    <h3> НАЙДЕНО СТАТЕЙ: <%= @results_number %> </h3>
    <div class = "digg_pagination"><%= will_paginate @articles %>
    </div>
    <% @articles.each do |article| %>
      <section class="article_list">
        <div class = "ntime" style = "display: inline; margin:0px;">
            <% ndate = article.updated_at %>
            <%= ndate.strftime("%Y %d/%m  %H:%M") %> .......
            <b>рубрика:    </b><%= article.rubric %> .......  
            <b>автор:      </b><%= article.author %> .......
            <b>издание:    </b><%= article.edition %> ......
            <b>ID:         </b><%= article.id %></p>
        </div>
        <div class="zag" style="font-weight: bold;">   
            <%= link_to article.title, 
                controller: "mainpage",
                action: "show_item",
                id: article.id,
                style: "font-size:18px;" %>
        </div>    
        <p class="anonce" style="margin:0px;"> <%= sanitize(article.anonce) %> </p>
        <p  style="margin:0px;">-----------------------------------------------------------------------</p>
      </section>
    <% end %>
    <br />
    <div class = "digg_pagination"><%= will_paginate @articles %>
    </div>
<!-- /div -->      
</div>