<div class="editor" >
<h3> НАЙДЕНО СТАТЕЙ: <%= @results_number %> </h3>

<div class = "digg_pagination"><%= will_paginate @articles %></div>
    <% @articles.each do |article| %>
    <div class="news_info">
        <h4> <%= article.id %>  
            <%= link_to article.title, 
                controller: "mainpage",
                action: "show_item",
                id: article.id %>
        </h4>
        <%# if article.image? %>
            <%# image_tag article.image.url %>
        <%# end %>

        <div class = "ntime" style = "display: inline">
            <% ndate = article.updated_at %>
            <%= ndate.strftime("%Y %d/%m  %H:%M") %> .......
            <b>рубрика:    </b> <%= article.rubric %> .......  
            <b>автор:      </b> <%= article.author %> .......
            <b>издание:    </b> <%= article.edition %> </p>
        </div>    
        <p class="anonce"> <%= sanitize(article.anonce) %> </p>
       <!--  <div class = "content"><%= sanitize(article.content) %> </div> -->
    </div>
    <% end %>
    <br />
<div class = "digg_pagination"><%= will_paginate @articles %></div>  
</div>




