<div class = "editor">
        
<%# if editor_signed_in? %>
    <h4>Перечень РЕКЛАМНЫХ БЛОКОВ . . . . Редактор: <%# current_editor.email %> </h4>
    <nav class="action">
            <%= link_to ' ДОБАВИТЬ РЕКЛАМНЫЙ БЛОК ', new_reclam_path %>
    </nav>

    <div class = "digg_pagination"><%= will_paginate @reclams %></div>
    <table>
      <tr>
        <th>№ контракта</th>
        <th>Фирма</th>
        <!-- <th>Web site</th> -->
        <!-- <th>E mail</th> -->
        <th>Интервал</th>
        <th>Дата нач.</th>
        <th>Дата кон.</th>
        <!-- <th>Comment</th> -->
        <th>Файл</th>
        <!-- <th>Тип файла</th> -->
        <th>Размер</th>
        <!-- <th>Image updated at</th> -->
        <th>Место</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @reclams.each do |reclam| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= reclam.contract %></td>
        <td><%= reclam.firm %></td>
        <!-- <td><%= reclam.web_site %></td> -->
        <!-- <td><%= reclam.e_mail %></td> -->
        <td><%= reclam.timing %></td>
        <td><%= reclam.start_date.strftime("%Y-%m-%d ") %></td>
        <td><%= reclam.stop_date.strftime("%Y-%m-%d ") %></td>
        <!-- <td><%= reclam.comment %></td> -->
        <td><%= reclam.image_file_name %></td>
        <!--<td><%= reclam.image_content_type %></td> -->
        <td><%= reclam.image_file_size %></td>
        <!-- <td><%= reclam.image_updated_at %></td> -->
        <td><%= reclam.mode %></td>
        <td><%= link_to 'Показать | ', reclam %></td>
        <td><%= link_to 'Изменить | ', edit_reclam_path(reclam) %></td>
        <td><%= link_to 'Удалить', reclam, confirm: 'Уверены?', method: :delete %></td>
      </tr>
    <% end %>
    </table>
    <br />
    <div class = "digg_pagination"><%= will_paginate @reclams %></div>

<%# else %>
    <h3> Для просмотра и редактирования рекламных блоков необходимо выполнить вход в админ. область.  </h3>
<%# end %> 
</div> <!-- reclam_editor -->