<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<% content_for :items_bar do %>
	<header> 
		<div class = "rubric_header_index" style = "text-align: center;"> 
			<%= @rubric_articles[0].rubric.mb_chars.upcase.to_s %> 
		</div>
	</header>
	
	<div class = "digg_pagination">
		<%= will_paginate @rubric_articles %>
	</div>
		<% @rubric_articles.each do |article| %>
		<section class="article_list">
			<div class = "ntime" style = "display: inline; color:#555;">
				<% ndate = article.updated_at.getlocal %>
				<p style = "display: inline; color:#933; font-weight: bold;"><%= ndate.strftime("%d-%b-%Y ..... %H:%M") + " ....." %></p>
				<p style = "display: inline; font-weight: bold;"><%= article.author + ". " + article.edition + " ..... " %></p>
				<%= "(" + article.genre + ")" %>
			</div>			
			<div class="zag" style="font-weight: bold;"> 
				<%= link_to article.title, 
				controller: "mainpage",
				action: "show_item",
				id: article.id %>
			</div>
			<p class="anonce"> 
				<%= simple_format(truncate(strip_tags(article.anonce), length: 200)) %>
				<%#= sanitize(truncate(strip_tags(article.anonce), length: 200)) %> 
			</p>
		</section>
		<% end %>
	<br />
	<div class = "digg_pagination">
		<%= will_paginate @rubric_articles %>
	</div>	
<% end %>	