<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- ================== ITEMS_BAR =========================== -->

<% content_for :items_bar do %>
	<section class="article_entry">   
		<!--div class="article_info"-->
	    	<div class = "ntime" style = "display: inline; font-size: 14px;">
				<% ndate = @article.updated_at.getlocal %>
				<p style = "display: inline; color:#933; font-weight: bold;"><%= ndate.strftime("%d-%b-%Y ..... %H:%M") + " ....." %></p>
				<p style = "display: inline; font-weight: bold;"><%= @article.author + ". " + @article.edition + " ..... " %></p>
				<%= @article.rubric.mb_chars.upcase.to_s + " (" + @article.genre + ")" %>
			</div>
	    	<h1> <%= @article.title %></h1>
	    	<% if @article.image? %>
	    	<div class = "left_image" style = "margin-right:20px;">
				<%= image_tag(@article.image.url, size: "300x200", float: "left") %>
			</div>		
			<% end %>
			<%# sanitize(@article.content) %> 
			<%= simple_format(@article.content) %> 
			<!--/div --> <!-- article_info -->
	</section> 
<% end %>	


