<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- ================== ITEMS_BAR =========================== -->

<% content_for :items_bar do %>
	<section class="article_entry"> 
		<!--div class="article_info"-->
	    	<div class = "ntime" style = "display: inline">
				<% ndate = @article.created_at.getlocal %>
				<%= ndate.strftime("%d/%m/%Y  %H:%M") %>
			</div>
	    	<h2> <%= @article.title %></h2>
	    	<% if @article.image? %>
	    	<div class = "left_image">
				<%= image_tag(@article.image.url, size: "300x200") %>
		</div>		
			<% end %>
			<div class="content"> 
				<%# sanitize(@article.content) %> 
				<%= simple_format(@article.content) %> 
				</div>
		<h5><%= @article.author + " _ " + @article.edition %></h5> 	
		<!--/div --> <!-- article_info -->
	</section> 
<% end %>	


