<!DOCTYPE html>
<html>
<head>
  <title>Газета "ЮЖНАЯ ПРАВДА"</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'> 

<!-- Global site tag (gtag.js) - Google Analytics  added 2018-12-01 18:30  -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-55507312-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-55507312-1');
</script>
<!-- Global site tag END ==================================================  -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="logo" href="images/favicon.ico" type="image/x-icon">
</head>

<!-- ограничение распространения правил для контроллера только на те страницы, которые связаны этим котроллером  --> 
<body class= '<%= controller.controller_name %>' onload="startTime()">
	<% if notice %>
		<p id="notice"><%= notice %></p>
		<p id="alert"><%= alert %></p>
	<% end %>

	<div id="outer">
		<%= render partial:  'shared/header' %>
		
		<div id="main">
			<section id="news_bar">
				  <%= yield :news_bar %>
			</section>	
			
			<!-- div id="top_bar" -->
				   <%= yield :top_bar %> 
			<!-- /div -->

			<section id="pdf_bar">
				   <%= yield :pdf_bar %> 
			</section>

			<section id="articles_bar">
				   <%= yield :articles_bar %> 
			</section>

			<section id="righ_bar">
					<%=  yield :right_bar %>
			</section> 

			<section id="left_bar">
					<%=  yield :left_bar %>
			</section> 

		</div> <!-- end .main --> 

		<%= render partial:  'shared/footer' %>

	</div> <!--end .outer-->
</body>
</html>
