<!DOCTYPE html>
<html>
<head>
  <title>"ЮЖНАЯ ПРАВДА"</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55507312-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-55507312-1');
  </script>
</head>

<!-- ограничение распространения правил для контроллера только на те страницы, которые связаны этим котроллером --> 
<body id="pageback" class= '<%= controller.controller_name %>' onload="startTime()">
	<div id="outer"> 
		<%= render partial:  'shared/header' %>
			<!--section id="items_bar"-->
					<%= yield %> 
			<!--/section -->	
		
		<%= render partial:  'shared/footer' %>
	</div> <!--end #outer-->
</body>
</html>
