<!DOCTYPE html>
<html>
<head>
  <title>"ЮЖНАЯ ПРАВДА"</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55507312-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-55507312-1');
  </script>
</head>

<!-- WHAT FOR FILE -->

<!-- ограничение распространения правил для контроллера только на те страницы, которые связаны этим котроллером --> 
<body class= '<%= controller.controller_name %>' onload="startTime()">
<!-- body id="pageback" class= '<%# controller.controller_name %>' onload="startTime()" -->
	<div id="outer">
		
		<%= render partial:  'shared/header' %>
		
		<div id="main">
			<section id="items_bar">
<div id="phones_table"> 
	 <table style = "font-weight: bold; border-width: 2px; border-color: #AAA; border-style: solid; margin-left:auto; 
    margin-right:auto;">
	 	<tr style ="background: #EEС">
			<td colspan="2" style ="background: #EEC; text-align: center; font-size: 16px;">
				<h3>Телефоны редакции газеты «Южная правда»</h3></td></tr> 
		<tr><td></td><td></td> </tr>
		<tr><td>Приемная главного редактора</td><td>37-00-66</td></tr> 
		<tr><td></td><td></td> </tr>
		<tr style ="background: #EEC; text-align: center;"><th>ОТДЕЛЫ</th><th></th> </tr>
		<tr><td>Писем и социальных проблем</td><td>37-44-66</td></tr>
		<tr style ="background: #EEE">
			<td>Коммунального и городского хозяйства</td><td>37-33-25</td>
		</tr>
		<tr><td>Экономики</td><td>37-23-24</td></tr>
		<tr style ="background: #EEE">
			<td>Политики</td> <td>37-37-64</td></tr>
		<tr><td>Здравоохранения</td> <td>37-23-24</td></tr>
		<tr style ="background: #EEE">
			<td>Агропромышленного комплекса</td> <td>37-31-21, 37-31-73</td></tr>
		<tr><td>Правоохранительных вопросов</td><td>37-31-14</td></tr>
		<tr style ="background: #EEE"> <td>Образования</td><td>37-00-66</td></tr>
		<!--<tr>
			<td>органов местного самоуправления</td><td>37-24-61</td>
		</tr> -->
		<tr><td>Культуры</td><td>37-44-05</td></tr>
		<tr style ="background: #EEE"> <td>Промышленности</td><td>37-43-57</td></tr>
		<tr><td>Компьютерный комплекс</td><td>37-19-50</td></tr>
		<tr style ="background: #EEE"><td>Рекламный отдел</td><td>37-14-44 (тел./факс)</td></tr>
			<tr><td></td><td></td></tr>
		<tr style ="background: #EEC; text-align: center;"><th>ПРИЛОЖЕНИЯ</th><th></th></tr>
		<tr><td>«Вестник Прибужья»</td><td>37-44-05</td></tr>
		<tr style ="background: #EEE"><td>«Щотижня»</td><td>37-05-28</td></tr>
		<tr><td>«Южная региональная ТВ»</td><td>37-37-64</td></tr>
		<tr><td></td><td></td></tr>
		<tr style ="background: #EEE"><td>Телефоны/факсы редакции</td><td>37-14-44, 37-43-86, 37-24-21</td></tr>
		<tr><td>Бухгалтерия</td><td>37-44-57</td></tr>
	</table>
</div> 
<h4 style ="text-align: center;">Адрес редакции: 54001, г. Николаев, ул. Адмиральская, 20.</h4>

<div style = "padding-left: 350px;">
		<a style= "color: #026; font-weight: bold;" href="mailto: up@email.com.ua"><u>Написать письмо в редакцию.</u> </a>
</div>

</section> 
		</div> <!-- end .main --> 

		<%= render partial:  'shared/footer' %>

	</div> <!--end .outer-->
</body>
</html>
