<!DOCTYPE html>
<html>
<head>
  <title>"ЮЖНАЯ ПРАВДА"</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>

<!-- WHAT FOR FILE -->

<!-- ограничение распространения правил для контроллера только на те страницы, которые связаны этим котроллером --> 
<body id="pageback" class= '<%= controller.controller_name %>' onload="startTime()">
	<div id="outer">
		
		<%= render partial:  'shared/header' %>
		
		<div id="main">
			<section id="items_bar" >
<h2>"Южная правда"</h2>
<p> <b>&nbsp;&nbsp;Общественно-политическая газета Николаевской области «Южная правда» - одно из старейших и наиболее тиражных изданий не только на Николаевщине, но и во всей стране. Уже около 95 лет она является лидером на рынке информации и рекламы в Николаеве и области.</b>
<br />
<h4>Немного истории</h4>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Официальной датой рождения газеты считается 11 октября 1917 года. Она возникла как печатный орган николаевских большевиков, которые организовали сбор средств на ее издание среди николаевских рабочих. Уже к концу 1917 года тираж «Пролетарского знамени» (первое название газеты) составлял около пяти тысяч экземпляров, - цифра очень значительная для того времени.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вместе со своими читателями газета пережила все повороты эпохи - трудные послеоктябрьские годы, блеск и нищету индустриализации, коллективизацию, страшное время репрессий (необоснованным репрессиям подвергались и работники газеты), Великую Отечественную войну (с фронта в редакцию не вернулось восемь человек), трудный послевоенный период, сложные годы последних десятилетий...
<br />
&nbsp;&nbsp;&nbsp;По страницам истории газеты можно проследить основные этапы истории страны и города. В феврале 1918 года она была переименована во «Власть труда» и стала органом Николаевского городского Совета рабочих и крестьянских депутатов. В новом статусе газета выходила всего несколько месяцев до оккупации г. Николаева немецко-австрийскими войсками. После освобождения города от интервентов газета возобновила свой выход в марте 1919 года под названием «Известия Николаевского Совета рабочих депутатов». В августе она была временно закрыта в связи с наступлением войск Деникина. После их ухода газета начала выходить в январе 1920 года под названием «Известия Николаевского губернского комитета».
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Первые мирные годы после гражданской войны издание встретило с названием «Красный Николаев». В 1930 году оно было изменено в связи с провозглашенной главной задачей пятой пятилетки на «Шлях індустріалізації». Образование Николаевской области привело к получению газетой статуса областной и новому переименованию в конце 1937 года на «Більшовицький шлях». В августе 1941 года в связи с немецко-фашистской оккупацией издание приостановило свой выход.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;После освобождения оно было возобновлено в апреле 1944 года под названием «Південна правда», которая с 1959 года дублировалась на русском языке. С января 1992 г. «Південна правда» («Щотижня») выходит на украинском языке, как приложение. Газета многим дала путевку в профессию. При редакции функционировал университет рабселькоров. Немало бывших южноправдинцев проявили себя в большой журналистике на всесоюзном уровне, возглавили популярные издания как на региональном, так и на всеукраинском уровне.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;С первых лет существования газеты при ней работала литературно-творческая группа «Октябрь», которую посещали многие культовые писатели и поэты того времени. К примеру - известный в первой половине века поэт Демьян Бедный. В 1923 году в редакции областной газеты работал классик советской литературы Эдуард Багрицкий, который также был активным участником творческой группы. Литературную традицию газета продолжает и в наши дни. С «Южной правдой» постоянно сотрудничают члены Союза писателей Украины поэты Вячеслав Качурин, Дмытро Креминь (лауреат Шевченковской премии), ушедшие из жизни Эмиль Январев, Александр Сизоненко, Евгений Мирошниченко, Михаил Божаткин и другие.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Много десятилетий «Южная правда» была органом обкома компартии (за что была отмечена орденом Трудового Красного Знамени). Другой в советское время пресса быть не могла. Как и вся страна, газета жила в жестких идеологических условиях однопартийности. Но вместе с тем, она пользовалась большим доверием у читателя. Подтверждение этому - почта редакции, которая иногда насчитывала до 22 тысяч писем в год. Часто в газету обращались за помощью, как в последнюю инстанцию. С этой целью при «Южной правде» много лет существовало внештатное юридическое бюро. И сегодня в газету каждый день продолжает поступать большое количество писем, телефонных звонков. Читательскому слову всегда находится место на газетных страницах, что является одной из визитных карточек «Южной правды».
<br />
<h4>"Южная правда" сегодня</h4>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Провал в 1991 году августовского путча открыл перед газетой новые горизонты. <b>Коллективу редакции удалось уйти из под партийного колпака и стать единственным хозяином газеты, т.е. учредителем. За все годы независимости газете удалось сохранить редкую для Украины форму собственности. Издателем выступает редакция газеты.</b>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Газета ориентирована на широкие слои населения. «Южная правда» сегодня - это охватывающая все стороны жизни оперативная информация, объективное изложение событий, аналитические материалы по актуальным социально-экономическим проблемам. На ее страницах есть место всему - и полезному совету для дома и семьи, и тонкому юмору, и кроссворду...
<br />
&nbsp;&nbsp;&nbsp;Деятельность коллектива редакции, который возглавляет председатель правления областной организации НСЖУ, заслуженный журналист Украины Николай Стеценко. Газета многократно отмечалась различными наградами, одна из последних - звание лауреата Международного академического рейтинга популярности и качества «Золотая Фортуна». Но лучшая награда для газеты - признание читателя.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>«Южная правда» - самая тиражная газета в Николаевском регионе.</b>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Около 90 процентов его тиража реализуется по подписке, что говорит о неизменном доверии читателя, который выбрал этот постоянный источник информации. Учитывая, что газету выписывают, как правило, на вся семью, а в нынешних сложных экономических условиях - на несколько квартир или домов (что особенно часто практикуется в сельской местности), то можно предположить, что ее аудитория больше тиража в 3-4 раза.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>С 2004 года «Южная правда» ежегодно объявляется во всеукраинскую подписку. Теперь наши газеты можно подписать, согласно каталогу, который есть в любом почтовом отделении, и получать по всей Украине.</b>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Издание выходит три раза в неделю разовым тиражом в 12 тысяч экземпляров.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Во вторник и субботу - на 4 страницах формата А2, в четверг - на 6-8 страницах того же формата.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Еженедельный тираж газеты с розницей составляет около 70 тысяч.</b>
<br />
&nbsp;&nbsp;&nbsp;На ее базе в перестроечные годы возник один из первых в регионе <b>еженедельников рекламно-информационного профиля «Вестник Прибужья».</b> Газета выходит на 16 страницах формата АЗ еженедельным тиражом более 15 тысяч экземпляров. Совсем "юное" издание <b>"Южная региональная газета-ТВ"</b> стартует с 3 тыс. экземпляров
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Для украиноязычного читателя <b>на государственном языке издается еженедельник «Щотижня»</b>, разовый тираж которого - около 3 тысяч экз.</p>
</section> 
		</div> <!-- end .main --> 

		<%= render partial:  'shared/footer' %>

	</div> <!--end .outer-->
</body>
</html>
